@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.dark1 {
    color: #474747;
}

.dark2 {
    color: #757575;
}

/* header section */
header {
    padding: 30px 0px 0px 0px;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, 30px;
    background-size: auto;
    background-color: #FFF8F3;

}

.header-title {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

/* navbar section */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px 40px 200px;
}

ul {
    display: flex;
    align-items: center;
}

ul li {
    margin-left: 30px;
    list-style: none;
}

ul li a {
    font-weight: 400;
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

ul li a:hover {
    color: #252424;
}

.btn-primary {
    color: #FFFFFF;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 12px 30px;
}

.btn-secondary {
    margin-left: 30px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    padding: 12px 30px;
    background-color: #FFF8F3;
}

.btn-primary:hover {
    background: #dc5d02;
    color: #e8e8e8;
}

.btn-secondary:hover {
    color: #dc5d02;
    border: 1px solid #dc5d02;
}

/* banner section */
.banner {
    display: flex;
    align-items: center;
    margin: 0px 40px 0px 200px;

}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-text {
    /* Weight 400 Size 18px Line height 30px */
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

/* main start */
.main {
    padding: 120px 200px;
    display: flex;
    flex-direction: column;

}

.main-section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 30px;

}

/* aboutme section */
.aboutme {
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 156px;
}

.aboutme-details {
    display: flex;
    justify-content: space-around;
}

.aboutme-details title {
    font-weight: 400;
    font-size: 20px;

}

.aboutme-details .sub-title {
    font-weight: 700;
    font-size: 20px;
}

/* what i do section */
.whatsection {
    text-align: center;
    margin: 100px 0px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    text-align: justify;
    margin-top: 24px;
}

.card-title {
    color: #181818;
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0px 20px 0px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

/* resume section */
.resume-section {
    text-align: center;
}

.resume-details {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    gap: 24px;
    text-align: justify;

}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 30px;

}

.resume-blog-title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;

}

.resume-blog-subtitle {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

}

.resume-blog-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
hr{
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #8d8d8d;
}